{% extends "base.html" %}

{% block content %} 
    <form action="/first/contact_send" method="post" id="search">
        {% csrf_token%}
        {{form.as_ul}}
        <button type="submit" value='Contact'  class="button">Send</button>
    </form>
{% endblock%}